@charset "UTF-8";

footer {
	color: #888;
}

.form-view {
	padding: 7px 25px;
}

select.day-number {
	padding: 3px 10px 8px 10px;
	color: #119cb2;
	border-color: #119cb2;
	border-radius: 0.25rem;
	font-weight: bold;
}
select.day-number option {
	color: #119cb2;
	border-color: #119cb2;
	border-radius: 0.25rem;
	font-weight: bold;
}

span.date-title {
	font-size:x-large;
	font-weight: bold;
	color: #119cb2;
	margin:0 30px;
}
