<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{commons/layout}">

<div layout:fragment="contents">

<form th:action="@{/schedule/add-done}" th:object="${daiForm}" method="post">

<table class="table">
<tr>
<td>乗車路線名</td>
<td>
<span th:text="*{trainName}"></span>
<input type="hidden" th:field="*{trainName}" /></td>
</tr>

<tr>
<td>発車駅名</td>
<td>
<span th:text="*{depStationName}"></span>
<input type="hidden" th:field="*{depStationName}" /></td>
</tr>

<tr>
<td>発車時刻</td>
<td>
<span th:text="*{depTime}"></span>
：
<span th:text="*{depMinute}"></span>
<input type="hidden" th:field="*{depTime}" />
<input type="hidden" th:field="*{depMinute}" />
</td>
</tr>

<tr>
<td>到着時刻</td>
<td>
<span th:text="*{arrTime}"></span>
：
<span th:text="*{arrMinute}"></span>
<input type="hidden" th:field="*{arrTime}" />
<input type="hidden" th:field="*{arrMinute}" />
</td>
</tr>
<tr>
<td>到着駅名</td>
<td>
<span th:text="*{arrStationName}"></span>
<input type="hidden" th:field="*{arrStationName}" /></td>
</tr>
</table>

<input type="hidden" th:field="*{trainTripId}" />
<input type="hidden" th:field="*{dayNumber}" />

<div class="col-sm-6 offset-sm-3 text-center">
<div class="btn-group d-flex">
<input type="submit" name="back" value="戻る" class="btn page-link text-dark" />
<input type="submit" name="done" value="実行" class="btn btn-primary" />
</div>
</div>
</form>
</div>