<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{commons/layout}">

<div layout:fragment="contents">
<form th:action="@{/train-trip/edit-conf}" th:object="${trainForm}" method="post" class="form-horizontal">

<div th:include="trainTrip/form :: formContents"></div>

<div class="col-sm-6 offset-sm-3 text-center">
<div class="btn-group d-flex">
<input type="submit" name="back" value="戻る" class="btn page-link text-dark" />
<input type="submit" name="conf" value="確認" class="btn btn-primary" />
</div>
</div>
</form>
</div>